@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-secondarymain dark:bg-primaryvariant-dark text-black  dark:text-darktext transition duration-300 font-lato;
  }
}

@layer components {
  .svg-icon {
    @apply dark:text-secondaryvariant-dark fill-current;
  }

  .section-links {
    position: relative;
    @apply mx-auto p-8 grid grid-cols-2 w-auto gap-7 justify-items-center max-w-xl xs:grid-cols-3;
  }

  .section-links::after {
    content: '';
    background-color: #5280787d;
    height: 2px;
    @apply top-full left-10 right-10 xs:right-12 xs:left-12 z-50  absolute rounded-3xl dark:bg-contrast-dark;
  }

  .block-link {
    @apply cursor-pointer flex flex-row justify-between  w-36 h-16 items-center px-1.5 bg-secondaryvariant rounded-lg dark:bg-primarymain-dark shadow-main dark:shadow-dark  hover:shadow-lifghtBlue transition duration-300;
  }
  .button-icon {
    @apply bg-primarymain rounded-full w-9 h-9 justify-center items-center flex dark:bg-contrast-dark text-2xl;
    box-shadow: 0px 3.28889px 3.28889px rgba(0, 0, 0, 0.25);
  }

  .service-line {
    height: 1px;
    box-shadow: 0px 3px 5px rgba(121, 120, 131, 0.56);
    @apply dark:shadow-none;
  }

  .ReactCollapse--collapse {
    transition: height 500ms;
  }
  .modal-content {
    width: 90vw;
  }

  .submit-btn {
    @apply flex items-center justify-center bg-primaryvariant rounded-lg w-4/5 h-16 text-3xl text-white mx-auto dark:bg-secondaryvariant-dark dark:text-contrast;
  }
}

.first-letter-capitalize::first-letter {
  text-transform: capitalize;
}

.scale-bigger {
  transform: scale(1.5);
}
